{% extends "main.html" %} {% block tabs %} {{ super() }} {% endblock %} {% import "variables.html" as var with context
%} {% block content %}

<section class="explorer">
    <div class="md-grid md-typeset">
        <h2>{{config.extra.explorer.parts.tools.get(i18n_page_locale, config.extra.explorer.parts.tools.en)}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="level">
                        {{config.extra.explorer.fields.level.get(i18n_page_locale,
                        config.extra.explorer.fields.level.en)}}
                    </th>
                    <th>
                        {{config.extra.explorer.fields.name.get(i18n_page_locale,
                        config.extra.explorer.fields.name.en)}}
                    </th>
                    <th>
                        {{config.extra.explorer.fields.use.get(i18n_page_locale, config.extra.explorer.fields.use.en)}}
                    </th>
                    <th align="right" class="actions">
                        {{config.extra.explorer.fields.links.get(i18n_page_locale,
                        config.extra.explorer.fields.links.en)}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for tool in var.tools %}
                <tr>
                    <td>
                        {% set filename = tool.url.split('/')[-1] %} {% set filename_without_ext =
                        filename.split('.')[0] %} {% set level = filename_without_ext.split('-')[0] %}

                        <b>
                            {% if config.extra.explorer.fields.levels[level] is defined %} {{
                            config.extra.explorer.fields.levels[level].get(i18n_page_locale,
                            config.extra.explorer.fields.levels[level].en) }} {% else %} - {% endif %}
                        </b>
                    </td>
                    <td>{{ tool.title }}</td>
                    <td>{{ tool.meta.description }}</td>
                    <td align="right">
                        <a href="/{{tool.url}}" class="md-button md-button--primary">
                            {{config.extra.explorer.fields.see.get(i18n_page_locale,
                            config.extra.explorer.fields.see.en)}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>{{config.extra.explorer.parts.apps.get(i18n_page_locale, config.extra.explorer.parts.apps.en)}}</h2>
        <table>
            <thead>
                <tr>
                    <th class="types">
                        {{config.extra.explorer.fields.level.get(i18n_page_locale,
                        config.extra.explorer.fields.level.en)}}
                    </th>
                    <th>
                        {{config.extra.explorer.fields.name.get(i18n_page_locale,
                        config.extra.explorer.fields.name.en)}}
                    </th>
                    <th>
                        {{config.extra.explorer.fields.type.get(i18n_page_locale,
                        config.extra.explorer.fields.type.en)}}
                    </th>
                    <th align="right" class="actions">
                        {{config.extra.explorer.fields.links.get(i18n_page_locale,
                        config.extra.explorer.fields.links.en)}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for app in var.apps %}
                <tr>
                    <td>
                        {% set filename = app.url.split('/')[-1] %} {% set filename_without_ext = filename.split('.')[0]
                        %} {% set level = filename_without_ext.split('-')[0] %}

                        <b>
                            {% if config.extra.explorer.fields.levels[level] is defined %} {{
                            config.extra.explorer.fields.levels[level].get(i18n_page_locale,
                            config.extra.explorer.fields.levels[level].en) }} {% else %} - {% endif %}
                        </b>
                    </td>
                    <td>{{app.title}}</td>
                    <td>{{app.meta.description}}</td>
                    <td align="right">
                        <a href="/{{app.url}}" class="md-button md-button--primary">
                            {{config.extra.explorer.fields.see.get(i18n_page_locale,
                            config.extra.explorer.fields.see.en)}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
