{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content">
      <h1>L'intelligence artificielle pour et par les enseignants</h1>
      <p><b>Explorer et soutenir l'utilisation de l'IA dans l'éducation</b></p>
      <p>Les applications et technologies d’IA sont maintenant intégrées dans nos usages quotidiens. Elles s’invitent aussi dans l’éducation avec, par exemple, la traduction automatique de textes ou le dialogue avec un chatbot pédagogique. Ce portail a pour intention d’aider la communauté éducative dans son ensemble et tout un chacun à acquérir une compréhension générale sur l'IA, et à développer un usage éclairé des outils basés sur l'IA dans le contexte de l'Éducation.<br/>Chaque ressource est mise à disposition comme ressource libre, open source, multilingue, pour une libre réutilisation et adaptation de son contenu dans toutes les langues.</p>
      <p>Le portail de ressources est organisé en 3 parties :
        <ul>
          <li>🎓 le <b>Mooc</b>, dont les contenus et activités permettent d'identifier le potentiel et les utilisations actuelles de l'IA en éducation, comprendre ce qu'est réellement l'IA et d'où elle vient, expérimenter différentes techniques d'IA, identifier la place cruciale des données pour les outils éducatifs basés sur l'IA, et appliquer une méthodologie pour analyser un outil pédagogique basé sur une IA ;
          </li>
          <li>🎁 les <b>Ressources</b>, un ensemble de ressources et d'outils liés à l'IA ou à l'IA et l'éducation, utilisés lors de l'expérimentation de l'IA par les enseignants du projet européen AI4T ;
          </li>
          <li>🧰 <b>Construire sa propre formation</b>, la méthodologie proposée pour aider ceux qui souhaitent utiliser les ressources du Mooc, les traduire et les organiser pour construire leur propre formation d'IA pour les enseignants.
          </li>
        </ul></p>
      <p><em>Ce cours a été développé et expérimenté dans 5 pays européens (France, Irlande, Italie, Luxembourg et Slovénie)<br/>dans le cadre du projet européen Erasmus+ AI4T.</em></p>
    </div>
  </div>
</div>
</section>
{% if config.extra.parts %}
  {% for part in config.extra.parts %}
  <section>
    <div class="md-grid md-typeset">
      <div class="home-section">
        <h2>{{part.title[i18n_page_locale]}}</h2>
        <div class="md-flex">
          {% for card in part.cards %}
          <div class="md-card">
            {% if i18n_page_locale in card.img %}
            <img src="{{card.img[i18n_page_locale]}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% else %}
            <img src="{{card.img}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% endif %}
            <div class="md-card-body">
              <h3>{{card.title[i18n_page_locale]}}</h3>
              <p>{{card.desc[i18n_page_locale]}}</p>
              {% if i18n_page_locale in card.url %}
                <a href="{{ card.url[i18n_page_locale]|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% else %}
                <a href="{{ card.url|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <a href="{{part.url}}" title="{{config.extra.trad['See all'][i18n_page_locale]}}" class="md-button md-button--primary">
          {{config.extra.trad['See all'][i18n_page_locale]}}
        </a> -->
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

{% endblock %}
{% block content %}
{{ page.content }}
{% endblock %}
