{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content">
      <h1>Artificial Intelligence for and by teachers</h1>
      <p><b>Explore and support the use of AI in education</b></p>
      <p>AI applications and technologies are now an integral part of our daily lives. They are also making their way into education, with automatic text translation and dialogue with an educational chatbot, for example. The aim of this portal is to help the education community as a whole and everyone else to acquire a general understanding of AI, and to develop an informed use of AI-based toolsin the context of education.<br/>Each resource is made available as a free, open source, multilingual resource, for free re-use and adaptation of its content in all languages.</p>
      <p>The resources portal is organised into 3 parts:
        <ul>
          <li>🎓 the <b>Mooc</b>, whose content and activities identify the potential and current uses of AI in education, understand what AI really is and where it comes from, experiment with different AI techniques, identify the crucial role of data for AI-based educational tools, and apply a methodology for analysing an AI-based educational tool;
          </li>
          <li>🎁 the <b>Resources</b>, a set of resources and tools related to AI or AI and education, used during experimentation with AI by teachers in the European AI4T project ;
          </li>
          <li>🧰 <b>Build Your Own Training</b>, the methodology proposed to help those who wish to use the resources of the Mooc, translate them and organise them to build their own AI training course for teachers.
          </li>
        </ul></p>
      <p><em>This course has been developed and tested in 5 European countries (France, Ireland, Italy, Luxembourg and Slovenia).<br/>as part of the European Erasmus+ project AI4T.</em></p>
    </div>
  </div>
</div>
</section>
{% if config.extra.parts %}
  {% for part in config.extra.parts %}
  <section>
    <div class="md-grid md-typeset">
      <div class="home-section">
        <h2>{{part.title[i18n_page_locale]}}</h2>
        <div class="md-flex">
          {% for card in part.cards %}
          <div class="md-card">
            {% if i18n_page_locale in card.img %}
            <img src="{{card.img[i18n_page_locale]}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% else %}
            <img src="{{card.img}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% endif %}
            <div class="md-card-body">
              <h3>{{card.title[i18n_page_locale]}}</h3>
              <p>{{card.desc[i18n_page_locale]}}</p>
              {% if i18n_page_locale in card.url %}
                <a href="{{ card.url[i18n_page_locale]|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% else %}
                <a href="{{ card.url|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <a href="{{part.url}}" title="{{config.extra.trad['See all'][i18n_page_locale]}}" class="md-button md-button--primary">
          {{config.extra.trad['See all'][i18n_page_locale]}}
        </a> -->
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

{% endblock %}
{% block content %}
{{ page.content }}
{% endblock %}
