{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content">
      <h1>Umetna inteligenca za učitelje in za učitelje</h1>
      <p><b>Raziskovanje in podpiranje uporabe umetne inteligence v izobraževanju</b></p>
      <p>Aplikacije in tehnologije umetne inteligence so zdaj sestavni del našega vsakdana. Uveljavljajo se tudi v izobraževanju, na primer s samodejnim prevajanjem besedil in dialogom z izobraževalnim klepetalnikom. Cilj tega portala je pomagati celotni izobraževalni skupnosti in vsem ostalim, da pridobijo splošno razumevanje umetne inteligence in razvijejo ozaveščeno uporabo orodij, ki temeljijo na umetni inteligenci, v okviru izobraževanja.<br/>Vsak vir je na voljo kot brezplačni, odprtokodni, večjezični vir, tako da je njegovo vsebino mogoče prosto ponovno uporabiti in prilagoditi v katerem koli jeziku..</p>
      <p>Portal virov je razdeljen na tri dele :
        <ul>
          <li>🎓 <b>Mooc</b>, katerega vsebina in dejavnosti opredeljujejo potencialno in sedanjo uporabo umetne inteligence v izobraževanju, razumejo, kaj umetna inteligenca dejansko je in od kod prihaja, eksperimentirajo z različnimi tehnikami umetne inteligence, opredelijo ključno vlogo podatkov za izobraževalna orodja na podlagi umetne inteligence in uporabijo metodologijo za analizo izobraževalnega orodja na podlagi umetne inteligence ;
          </li>
          <li>🎁 <b>Resources</b>, niz virov in orodij, povezanih z umetno inteligenco ali umetno inteligenco in izobraževanjem, ki so jih med eksperimentiranjem z umetno inteligenco uporabljali učitelji v evropskem projektu AI4T. ;
          </li>
          <li>🧰 <b>Sestavite lastno usposabljanje</b>, metodologija, predlagana za pomoč tistim, ki želijo uporabiti vire Mooc, jih prevesti in organizirati, da bi sestavili lastno usposabljanje o umetni inteligenci za učitelje.
          </li>
        </ul></p>
      <p><em>Ta tečaj je bil razvit in preizkušen v petih evropskih državah (Francija, Irska, Italija, Luksemburg in Slovenija)<br/>v okviru evropskega projekta Erasmus+ AI4T.</em></p>
    </div>
  </div>
</div>
</section>
{% if config.extra.parts %}
  {% for part in config.extra.parts %}
  <section>
    <div class="md-grid md-typeset">
      <div class="home-section">
        <h2>{{part.title[i18n_page_locale]}}</h2>
        <div class="md-flex">
          {% for card in part.cards %}
          <div class="md-card">
            {% if i18n_page_locale in card.img %}
            <img src="{{card.img[i18n_page_locale]}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% else %}
            <img src="{{card.img}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% endif %}
            <div class="md-card-body">
              <h3>{{card.title[i18n_page_locale]}}</h3>
              <p>{{card.desc[i18n_page_locale]}}</p>
              {% if i18n_page_locale in card.url %}
                <a href="{{ card.url[i18n_page_locale]|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% else %}
                <a href="{{ card.url|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <a href="{{part.url}}" title="{{config.extra.trad['See all'][i18n_page_locale]}}" class="md-button md-button--primary">
          {{config.extra.trad['See all'][i18n_page_locale]}}
        </a> -->
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

{% endblock %}
{% block content %}
{{ page.content }}
{% endblock %}
