{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content">
      <h1>Intelligenza artificiale per e da parte degli insegnanti</h1>
      <p><b>Esplorare e sostenere l'uso dell'IA nell'istruzione</b></p>
      <p>Le applicazioni e le tecnologie AI sono ormai parte integrante della nostra vita quotidiana. Si stanno facendo strada anche nel campo dell'istruzione, ad esempio con la traduzione automatica di testi e il dialogo con un chatbot educativo. L'obiettivo di questo portale è aiutare la comunità educativa nel suo complesso e tutti gli altri ad acquisire una comprensione generale dell'IA e a sviluppare un uso consapevole degli strumenti basati sull'IA nel contesto dell'istruzione.<br/>Ogni risorsa è resa disponibile come risorsa libera, open source e multilingue, per il libero riutilizzo e adattamento dei suoi contenuti in tutte le lingue.</p>
      <p>Il portale delle risorse è diviso in 3 parti:
        <ul>
          <li>🎓 il <b>Mooc</b>, i cui contenuti e attività identificano gli usi potenziali e attuali dell'IA nell'istruzione, comprendono cosa sia realmente l'IA e da dove provenga, sperimentano diverse tecniche di IA, identificano il ruolo cruciale dei dati per gli strumenti educativi basati sull'IA e applicano una metodologia per analizzare uno strumento educativo basato sull'IA. ;
          </li>
          <li>🎁 le <b>Risorse</b>, un insieme di risorse e strumenti relativi all'IA o all'IA e all'istruzione, utilizzati durante la sperimentazione dell'IA da parte degli insegnanti nel progetto europeo AI4T ;
          </li>
          <li>🧰 <b>Costruisci il tuo corso di formazione</b>, la metodologia proposta per aiutare coloro che desiderano utilizzare le risorse del Mooc, tradurle e organizzarle per costruire il proprio corso di formazione sull'IA per insegnanti..
          </li>
        </ul></p>
      <p><em>Questo corso è stato sviluppato e testato in 5 Paesi europei (Francia, Irlanda, Italia, Lussemburgo e Slovenia)<br/>come parte del progetto europeo Erasmus+ AI4T.</em></p>
    </div>
  </div>
</div>
</section>
{% if config.extra.parts %}
  {% for part in config.extra.parts %}
  <section>
    <div class="md-grid md-typeset">
      <div class="home-section">
        <h2>{{part.title[i18n_page_locale]}}</h2>
        <div class="md-flex">
          {% for card in part.cards %}
          <div class="md-card">
            {% if i18n_page_locale in card.img %}
            <img src="{{card.img[i18n_page_locale]}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% else %}
            <img src="{{card.img}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% endif %}
            <div class="md-card-body">
              <h3>{{card.title[i18n_page_locale]}}</h3>
              <p>{{card.desc[i18n_page_locale]}}</p>
              {% if i18n_page_locale in card.url %}
                <a href="{{ card.url[i18n_page_locale]|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% else %}
                <a href="{{ card.url|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <a href="{{part.url}}" title="{{config.extra.trad['See all'][i18n_page_locale]}}" class="md-button md-button--primary">
          {{config.extra.trad['See all'][i18n_page_locale]}}
        </a> -->
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

{% endblock %}
{% block content %}
{{ page.content }}
{% endblock %}
