{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content">
      <h1>Künstliche Intelligenz für und von Lehrern</h1>
      <p><b>Erforschung und Unterstützung des Einsatzes von KI in der Bildung</b></p>
      <p>KI-Anwendungen und -Technologien sind mittlerweile in unseren alltäglichen Gebrauch integriert. Sie halten auch Einzug in den Bildungsbereich, z. B. mit der automatischen Übersetzung von Texten oder dem Dialog mit einem pädagogischen Chatbot. Dieses Portal soll der gesamten Bildungsgemeinschaft und jedem Einzelnen dabei helfen, ein allgemeines Verständnis von KI zu erlangen und eine informierte Nutzung von KI-basierten Tools im Bildungskontext zu entwickeln.<br/>Jede Ressource wird als freie, Open-Source-, mehrsprachige Ressource zur freien Wiederverwendung und Anpassung ihres Inhalts in allen Sprachen zur Verfügung gestellt..</p>
      <p>Le portail de ressources est organisé en 3 parties :
        <ul>
          <li>🎓 der <b>Mooc</b>, dessen Inhalte und Aktivitäten es ermöglichen, das Potenzial und die aktuellen Einsatzmöglichkeiten von KI im Bildungsbereich zu erkennen, zu verstehen, was KI wirklich ist und woher sie kommt, mit verschiedenen KI-Techniken zu experimentieren, die entscheidende Bedeutung von Daten für KI-basierte Bildungsmaterialien zu erkennen und eine Methode zur Analyse eines KI-basierten Bildungsmaterials anzuwenden.
          </li>
          <li>🎁 die <b>Ressourcen</b>, eine Reihe von Ressourcen und Tools im Zusammenhang mit KI oder KI und Bildung, die bei der Erprobung von KI durch die Lehrer des europäischen Projekts AI4T verwendet wurden ;
          </li>
          <li>🧰 <b>Erstellen Sie Ihr eigenes Training</b>, die vorgeschlagene Methodik zur Unterstützung derjenigen, die die Ressourcen des Mooc nutzen, übersetzen und organisieren möchten, um ihre eigene KI-Ausbildung für Lehrer aufzubauen.
          </li>
        </ul></p>
      <p><em>Dieser Kurs wurde in fünf europäischen Ländern (Frankreich, Irland, Italien, Luxemburg und Slowenien) entwickelt und erprobt.<br/>im Rahmen des europäischen Erasmus+ Projekts AI4T.</em></p>
    </div>
  </div>
</div>
</section>
{% if config.extra.parts %}
  {% for part in config.extra.parts %}
  <section>
    <div class="md-grid md-typeset">
      <div class="home-section">
        <h2>{{part.title[i18n_page_locale]}}</h2>
        <div class="md-flex">
          {% for card in part.cards %}
          <div class="md-card">
            {% if i18n_page_locale in card.img %}
              <img src="{{card.img[i18n_page_locale]}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% else %}
              <img src="{{card.img}}" alt="{{card.desc[i18n_page_locale]}}"/>
            {% endif %}
            <div class="md-card-body">
              <h3>{{card.title[i18n_page_locale]}}</h3>
              <p>{{card.desc[i18n_page_locale]}}</p>
              {% if i18n_page_locale in card.url %}
                <a href="{{ card.url[i18n_page_locale]|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% else %}
                <a href="{{ card.url|url }}" target="_blank" title="{{card.title[i18n_page_locale]}}" class="md-button">
                  {{config.extra.trad['See'][i18n_page_locale]}}
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <a href="{{part.url}}" title="{{config.extra.trad['See all'][i18n_page_locale]}}" class="md-button md-button--primary">
          {{config.extra.trad['See all'][i18n_page_locale]}}
        </a> -->
      </div>
    </div>
  </section>
  {% endfor %}
{% endif %}

{% endblock %}
{% block content %}
{{ page.content }}
{% endblock %}
