.md-header-nav__title {
    margin-left: 0;
}

.home-container {
    padding: 2rem 0 7rem 0;
    color: white;
    background: linear-gradient(
        to bottom,
        var(--md-primary-fg-color),
        var(--md-accent-fg-color) 99%,
        var(--md-default-bg-color) 99%
    );
    background-size: cover;
}

.home-hero {
    /*   max-width: 600px; */
    margin: 0 0.8rem;
    color: white;
}

.home-hero .home-hero-content h1 {
    margin-bottom: 0;
    font-weight: bold;
    color: white;
}

.home-hero p {
    margin: 1em 0 1.5em 0;
}

.home-hero .md-button {
    margin-bottom: 5px;
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}

.home-hero .md-button:hover {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color--light);
    border-color: var(--md-primary-fg-color--light);
}

.home-hero .md-button.hollow {
    color: var(--md-primary-bg-color);
    background-color: transparent;
    border-color: var(--md-primary-bg-color);
}

.home-hero .md-button.hollow:hover {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color--light);
    border-color: var(--md-primary-fg-color--light);
}
.home-section {
    margin: 0 0.8rem;
    padding: 0 0 2rem 0;
    text-align: center;
}

.home-embed {
    margin-top: -5rem;
    margin-bottom: 2rem;
}

.home-embed > div {
    padding: 0 0.8rem;
}

.embed-yt {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    box-shadow:
        0px 4px 5px 0px rgba(0, 0, 0, 0.07),
        0px 1px 20px 0px rgba(0, 0, 0, 0.07);
}

.embed-yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.md-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.md-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 2 * 8px);
    max-width: 350px;
    margin: 15px 8px;
    background: white;
    border-radius: 10px;
    box-shadow:
        0px 4px 5px 0px rgba(0, 0, 0, 0.07),
        0px 1px 20px 0px rgba(0, 0, 0, 0.07);
    text-align: center;
    overflow: hidden;
}

.md-card-body {
    padding: 1rem;
}

.md-card img {
    width: 100%;
    background: lightgrey;
}

.md-card h3 {
    margin: 0;
    font-weight: bold;
}

.md-card p {
    color: grey;
    flex-grow: 1;
}

.md-card .md-button {
    font-size: 0.8em;
}

.md-typeset figure {
    margin-bottom: 1em;
    break-inside: avoid;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    color: var(--md-primary-fg-color);
    margin-top: 0;
    -webkit-print-color-adjust: exact;
}

.md-typeset h1 {
    font-size: 1.6em;
    margin-bottom: 0.7em;
}

.md-typeset h2 {
    font-size: 1.2em;
}

.md-typeset h3 {
    font-size: 1em;
}

h1:before,
h2:before,
.h3:before,
.h4:before,
.h5:before {
    content: "";
    display: block;
    clear: left;
}

.md-typeset ol li,
.md-typeset ul li {
    margin-bottom: 0;
}

@media (max-width: 960px) {
    .md-card {
        width: calc(50% - 2 * 8px);
    }
}

@media (max-width: 600px) {
    .home-container {
        text-align: center;
        padding: 2rem 0 20vw 0;
    }
    .md-card {
        width: 100%;
    }
}

@media print {
    @page {
    }

    hr {
        clear: both;
    }

    .md-typeset figure {
        margin-bottom: 1em;
        break-inside: avoid;
    }

    .md-typeset .admonition,
    details {
        display: block;
        page-break-inside: avoid;
    }

    .md-typeset .admonition-title,
    .md-typeset summary {
        padding: 0.4em 1em;
    }

    .md-typeset .admonition-title:before,
    .md-typeset summary:before,
    .md-typeset .admonition-title:after,
    .md-typeset summary:after {
        content: none;
    }

    .md-typeset .codehilitetable .linenos {
        display: none;
    }

    .md-typeset .footnote-ref {
        display: inline-block;
    }

    .md-typeset a.footnote-backref {
        transform: translateX(0);
        opacity: 1;
    }
}

.inline-image {
    display: flex !important;
    align-items: center;
    margin-left: 0 !important;
}

.inline-image > p {
    text-align: start;
}

.inline-image > img {
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}

.image-frame {
    border-radius: 8px;
    border: 2px solid #b946ea;
}

/*.explorer {
    padding: 2em 1em;
}*/

/*.explorer .md-typeset h2 {
    margin: 2em 0 1em 0;
}*/

.explorer .md-button {
    min-width: 72px;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.explorer .md-typeset__table {
    display: block;
    margin-bottom: 2em;
}

.explorer table {
    display: table !important;
    min-width: 100%;
}

.explorer table th.level {
    width: 120px;
}
