.md-header-nav__title{
    margin-left: 0;
}

.home-container{
    padding: 2rem 0 15vw 0;
    color: white;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom,linear-gradient(to bottom, var(--md-primary-fg-color), var(--md-accent-fg-color) 99%, var(--md-default-bg-color) 99%);
}

.home-hero{
 /*   max-width: 600px; */
    margin: 0 .8rem;
    color:white;
}

.home-hero h1{
    margin-bottom: 0;
    font-weight: bold;
    color:white;
}

.home-hero p{
    margin: 1em 0 1.5em 0;
}

.home-hero .md-button {
    margin-bottom: 5px;
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}

.home-hero .md-button:hover {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color--light);
    border-color: var(--md-primary-fg-color--light);
}

.home-hero .md-button.hollow {
    color: var(--md-primary-bg-color);
    background-color: transparent;
    border-color: var(--md-primary-bg-color);
}

.home-hero .md-button.hollow:hover {
    color: var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color--light);
    border-color: var(--md-primary-fg-color--light);
}
.home-section{
    margin: 0 .8rem;
    padding: 0 0 2rem 0;
    text-align: center;
}

.md-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.md-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 2 * 8px);
    max-width: 350px;
    margin: 15px 8px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07), 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
    text-align: center;
    overflow: hidden;
}

.md-card-body{
    padding: 1rem;
}

.md-card img{
    width:100%;
    background: lightgrey;
}

.md-card h3{
    margin:0;
    font-weight: bold;
}

.md-card p{
    color: grey;
    flex-grow: 1;
}

.md-card .md-button{
    font-size: 0.8em;
}


@media (max-width: 960px) {
    .md-card{
        width: calc(50% - 2 * 8px);
    }
}

@media (max-width: 600px) {
    .home-container{
        text-align: center;
        padding: 2rem 0 20vw 0;
    }
    .md-card{
        width: 100%;
    }

}
